<form class="book-search-filter-form" [formGroup]="searchForm">
  <div class="columns-wrapper">
    <div class="category-selector">
      <app-category-selector
        (categoriesSelected)="onCategoriesSelected($event)"
        class="category-selector-control"></app-category-selector>
    </div>

<!--    <label class="label-control">-->
<!--      <input type="text" formControlName="category" placeholder="Category">-->
<!--    </label>-->

    <label class="label-control">
      <input type="text" formControlName="author" placeholder="Author">
    </label>

    <label class="label-control">
      <input type="text" formControlName="title" placeholder="Title">
    </label>
  </div>
</form>

<div class="paginator-wrapper">
  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage"
    (page)="handlePageEvent($event)"
  ></mat-paginator>
</div>
