<form class="book-search-filter-form" [formGroup]="searchForm">
  <div class="two-columns">
    <label class="form-input-group">
      <span>Author</span>
      <input type="text" formControlName="author">
    </label>

    <label class="form-input-group">
      <span class>Title</span>
      <input type="text" formControlName="title">
    </label>

    <label class="form-input-group">
      <span>Category</span>
      <input type="text"  formControlName="category">
    </label>
  </div>
</form>
