<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Contacts</h3>
      <p>📍  Kyiv, Shevchenko, 10</p>
      <p>📞 +380 50 123 45 67</p>
      <p>📧 info&#64;bookstore.com</p>
    </div>

    <div class="footer-section">
      <h3>Useful links</h3>
      <ul>
        <li><a [routerLink]="['login']">About us</a></li>
        <li><a [routerLink]="['login']">Delivery and payment</a></li>
        <li><a [routerLink]="['login']">Privacy Policy</a></li>
        <li><a [routerLink]="['login']">Contact</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Social networks</h3>
      <a href="https://facebook.com/bookstore" target="_blank">Facebook</a> |
      <a href="https://instagram.com/bookstore" target="_blank">Instagram</a> |
      <a href="https://t.me/Oleksandr_Savenets" target="_blank">Telegram</a>
    </div>
  </div>
  <div class="footer-bottom">© 2025 BookStore. All rights reserved.</div>
</footer>
