.paginator-wrapper {
  padding: 5px;
  text-align: center;
}

.book-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  min-height: 500px;
  justify-content: space-evenly;
  gap: 5px;
}
