:host{
  display: flex;
}

.full-screen-container {
  /*background-image: url("/assets/images/login-background.jpeg");*/
  background-color: var(--dark-gray-color);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-container{
  background-color: var(--dark-color-transparency);
  box-shadow: 0 0 15px 0 var(--light-color);
  padding: 30px;
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
}
