@if (book) {

  <div class="book-card-container">
    <div class="book-title">
      <strong>{{book.title}}</strong>
    </div>

    <div class="book-image">
      <img class="img" [src] ="book.coverImage" [alt]="book.title">
    </div>

    <div class="book-author">
      <span>{{book.author}}</span>
    </div>

    <div class="book-price">
      Last price: {{book.price}}$
    </div>

    <div class="book-description">
      {{book.description}}
    </div>

    <div class="book-card-button">
      <button class="button" (click)="addBookToCart()">Add to cart</button>
    </div>
  </div>
}
