<div class="book-card-container">
  <div class="book-title">
   <strong>Book title</strong>
  </div>

  <div class="book-image">
    <img  class="img" src="/assets/images/registration-background.jpg" alt="Avatar">
  </div>

  <div class="book-author">
    <span>Book author</span>
  </div>

  <div class="book-price">
    Last price:
  </div>

  <div class="book-description">
    Our company is looking for talented professionals to join our team and to work full-time as Junior+ Java Engineer at our Kyiv or Kharkiv office
  </div>

  <div class="book-card-button">
    <button class="button">Add to cart</button>
  </div>
</div>
