:host{
  display: flex;
}

.full-screen-registration-container {
  background-image: url('/assets/images/registration-background.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.registration-container {
  background-color: var(--dark-color-transparency);
  box-shadow: 0 0 15px 0 var(--light-color);
  padding: 30px;
  border-radius: 20px;
  width: 80%;
  max-width: 350px;
}
